.event-card:hover {
  transform: translate(0, -5px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event-card {
  transition: 0.3s;
  width: 20rem;
  height: 22rem;
  margin: 10px;
  cursor: pointer;
  background-color: #ba3375!important;
}


.event-list:hover {
  transform: translate(0, -5px);

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event-list {
  transition: 0.3s;
  border-radius: 15px;
  width: 80vw;
  height: 22rem;
  margin: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #ba3375!important;

}

