.theresa-button {
  background-color: skyblue;
  color: black;
  font-family: "sohne-buch", sans-serif;
  padding: 7px 14px; /* Padding around the text */
  font-size: 15px;
  border: none; /* No border */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  margin-top: 5px;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 5px; /* Rounded corners */
}
