.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: black;
  font-family: "sohne-buch", sans-serif;
  height: 8vh;
  font-size: 20px;
}

.nav-links {
  padding-top: 5px;
  font-family: "sohne-buch-light";
}

.homepage-title {
  color: white;
  font-family: "sohne-buch", sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.homepage-title .highlight {
  font-weight: bold;
  color: skyblue;
}

.section-title {
  padding-top: 15px;
  padding-left: 10px;
  color: #ffffff;
  font-family: "sohne-buch", sans-serif;
}

.section-description {
  padding-left: 10px;
  color: #ffffff;
  font-family: "sohne-buch", sans-serif;
}

.event-card:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 8px 24px skyblue;
}

.event-card {
  transition: 0.3s;
  width: 20rem;
  height: 22rem;
  margin: 10px;
  cursor: pointer;
  background-color: #ffffff !important;
}

.ticket-card {
  transition: 0.3s;
  aspect-ratio: 16/4;
  max-height: 17rem;
  background-color: #faf9f6 !important;
}

.event-list {
  transition: 0.3s;
  border-radius: 15px;
  width: 80vw;
  height: 22rem;
  margin: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #ffffff !important;
}

.event-list:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 8px 24px skyblue;
}

.nft-button {
  color: black;
  font-family: "sohne-buch", sans-serif;
  background-color: white;
  padding: 10px 20px;

  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.nft-button:hover {
  box-shadow: 4px 4px 4px skyblue;
  transform: scale(1.1);
  transition: 0.3s;
}

.text {
  color: white;
  font-family: "sohne-buch", sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1200px;
  line-height: 1.6;
}

.connect-wallet-button {
  background-color: skyblue;
  color: black;
  font-family: "sohne-buch", sans-serif;
  padding: 7px 14px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.logged-in-button {
  background-color: white;
  color: black;
  font-family: "sohne-buch", sans-serif;
  padding: 7px 14px;
  font-size: 15px;
  border: none;
  margin-top: 5px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.accordion {
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: black;
  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: black;
  cursor: pointer;
}

.acc-body {
  align-items: center !important;
  align-content: center !important;
  text-align: center;
}

/* Popup.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40vw;
  border: 1px solid black;
  max-width: 600px;
  max-height: 80%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.close-button {
  padding: 10px 10px;
  background-color: #518bad; /* Background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}
