body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color-scheme: dark;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'tabela-bold';
  src: local('Tabela'), url(./fonts/Tabela/tabelaSoft-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'tabela-regular';
  src: local('Tabela'), url(./fonts/Tabela/tabelaSoft-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'tabela-light';
  src: local('Tabela'), url(./fonts/Tabela/tabelaSoft-Light.ttf) format('truetype');
}